.scrollDown {
  position: absolute;
  top: 0;
  animation: scroll-down 1.5s ease-in-out infinite;
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 1rem;
  }
}
